fastapi==0.109.2
uvicorn[standard]==0.27.1
python-multipart==0.0.9
torch>=1.10.0
torchvision>=0.11.0
opencv-python-headless>=4.5.0
numpy
Pillow
albumentations
facenet-pytorch
timm
pandas
transformers>=4.30.0
torchaudio
librosa
soundfile
scenedetect
scipy
